  
form{
    max-width: 70%;
    .payment-full-width {
        width: 100%;
    }
    .mat-button-wrapper{
        color: #fff;
    }
    .col-4 {
        padding-left: 0px;
        margin-left: 0px;
    }
}